@import url('https://fonts.googleapis.com/css?family=Smythe:100,200,300,400,500,600,700|open+sans:100,200,300,400,500,600,700');

/*---------------------background Image Source (https://www.pexels.com/photo/vinyl-albums-near-player-164901/)*/
.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;

 background: url('../assets/photos/bg.jpg') no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
}
/*---------------------Headers*/
h1 {
    font-family: "Smythe", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 10px;
    color: #ffffff;
    margin: auto;
    text-align: center;
}
h2 {
    font-family: "smythe";
    font-size: 25px;
    color: #ffffff;
    margin: auto;
    font-weight:200;
    text-align: center;
}
h3 {
    font-family: "Smythe", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 0!important;
}
h4 {
    font-family: "Smythe",sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    font-weight:400;
}
h5 {
    font-family: "open+sans";
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    font-weight:200;
}

p {
    color: #fafafa;
}
.section-heading {
    font-family: "smythe", sans-serif;
    text-align: center;
    Padding-bottom: 10px;
}
/*---------------------Nav*/

#nav{
    margin: 0;
}

#nav li {
    padding: 0;
}
.nav-menu {
    background-color: rgba(0, 0, 0, 0.5);

}
.menuitem {
    height: 40px;
    text-align: center;
    padding: 0;
    color: #ffffff;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 40px;
}

.menuitem span{
    font-family: "Smythe", sans-serif;
    display: block;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
}

.dropbtn {
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    margin-left: -40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1!important;
    padding: 0px;
}

.dropdown-content a {
    font-family: "Smythe";
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

#media-disable {
    cursor: default;

}
/*-------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: #565656;
    height: 40px;
}
.dropdown-content a:hover {
    background-color: #565656;
    color: #ffffff!important;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    text-align: center;
}

/*---------------------Home Section*/

.home-sub-title {
    font-family: "smythe";
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

#home-img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 25px;
}

.home-booking{
    background-color: gba(0, 0, 0, 0.7);
    height:100px;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: "open+sans";
}

.home-booking-text {
    color: #ffffff;
    font-family: "open+sans";
    font-size: 15px;
    padding-top: 5px;
}

/*---------------------Band Section*/
.band-bio {
    margin:  30px auto;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #ffffff; 
    padding: 30px;
    width: 70%;
    font-family: "open+sans";
    font-weight: 300;
}
.band-bio-pic-bg {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
.band-text {
    margin-top: 15px;
}

#band-bio-pic {
    width:100%;
    margin: auto;
    padding: 10px;
    max-height: 250px;
}

#img-band {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
#band-name{
    font-family: "open+sans";
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 20px;
}
.sidebar {
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.band-heading {
    padding-top: 15px;
}

.band-member-img {
    margin: auto;
    width:100%;
    margin-top: 20px;
}
/*---------------------News Section*/
.content {
    margin-top: 30px;
}
.timeline-item {
    padding:3em 0em 0em 1em;
    position: relative;
    color: #ffffff;
    border-left: 1px solid;
    width: 40%;
    margin: 0 auto;
    font-family: "open+sans";
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    display: block;
    top: 1.3em;
    font-family: "open+sans";
    font-weight: 300;
    font-size: 17px;
    padding: 0;
    margin:0;
    color: #ffffff;
}
.timeline-item::after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background:#ffffff;
    font-family: "open+sans";
}

.timeline-heading {
    color: #ffffff;
    padding-bottom: 10px;
}

.updates-heading {
    padding-top: 20px;
}
.new-post-heading {
    text-align: left;
}
.timeline-item h4 {
    margin: 0!important;
    font-family: "open+sans"!important;

}
.history-items {
    padding-bottom: 30px;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.updates {
    background-color: #808080;
    padding: 50px;
    padding-top: 0;
    font-family: "open+sans";
    font-size: 15px;
    width: 70%;
    margin-bottom: 50px;
}
.blog-date {
    text-align: left!important;
}

/*---------------------Music Section*/
.music-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}

.music-bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.playlists {
    font-family: "open+sans";
    font-weight: 400;
    text-align: center;
    
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.spotify-text p{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}

.spotify {
    text-align: left;
    padding-left: 50px;
    padding-bottom: 20px;
}

.spotify-description {
    text-align: center;
    padding-left: 12%;
    padding-top: 20px;
}

/*------------Photos Page*/
.photos-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}
.gallery {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

#photo-layout {
    text-align: center;
    padding: 20px;
}

/*------------Videos Page*/
.video-heading {
    padding-top: 20px;
}
.video-bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
video {
    width:100%;
    padding:10px;
}
.video-style {
    max-width: 800px;
    width: 100%;     
    height: auto;     
    margin: 0 auto;
    padding-bottom: 30px!important;
    display: block;
}

.video-text {
    font-family: "open+sans";
    font-size: 17px;
    padding-bottom: 20px;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

/*---------------------Contact*/
.contact-heading {
    font-family: "Smythe", sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}
label {
    font-family:"open+sans"!important;
    color: #ffffff;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}

.form-bg-color {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 20px;
    width:60%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10%;
}
.form-control {
    padding: 10px;
}
.radio-btns {
    padding-top: 10px;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #808080;
    color: #ffffff;
}


/*---------------------Footer*/
footer{
    background-color: #86E5E4;
    color: #000000;
    min-height: 100px;
    margin: 0;
    text-align: right;
    font-family: "Smythe";
}
.social-links{
    padding-bottom: 0px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webskit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8B0000;
}

#footer-details{
    margin: 20px;
    margin-bottom: 0;
    display: "inline-flex";
}

.general-sub {
    text-align: right!important;
    display: "inline-flex"!important;
    color: #ffffff!important;
}

/*---------------------Media Queries*/
@media(min-width:992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
}

    .center-form{
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
        }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
        margin:auto;
        padding:20px;
    }
}

@media (max-width: 1175px) {
    .band-member-img { 
        width: 100%;
        margin:auto;
        padding:20px;
    }
}